.dashboard-wrapper {
  display: flex;
  flex-direction: row;
  height: 100%;
  overflow: hidden;
}

.dashboard-user {
  padding: 20px;
  width: 17%;
  background-color: #111;
  outline: 1px solid #4f4f4f;
}

.dashboard-timelines {
  padding: 20px 150px 0 150px;
  width: 100%;
  background: #000;
  overflow-y: auto;
}

.dashboard-advertisement {
  position: relative;
  height: 150px;
  background-color: #222;
  outline: 1px solid #4f4f4f;
  border-radius: 10px;
  margin-bottom: 20px;
  background-image: url("../../assets/images/dashboard-advertisement.jpg");
  /* background-image: url("https://picsum.photos/1920/1080"); */
  background-size: cover;
  background-position: center;

  overflow: hidden;
}
.dashboard-advertisement::after {
  content: "Ad";
  font-weight: 600;
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 5px 10px;
  border-top-right-radius: 5px;

  background-color: #000;
}

.timelines-box {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  /* flex-direction: row;
  flex-wrap: wrap; */
  align-content: flex-start;

  gap: 20px;
  /* height: 100%; */

  /* background-color: #111;
  outline: 1px solid #4f4f4f; */

  border-radius: 10px 10px 0 0;
  padding: 20px 0;
}

.dashboard-timelines h1 {
  margin-bottom: 5px;
}

.timeline-button-box {
  display: flex;
  flex-direction: column;
  height: fit-content;
  /* cursor: pointer; */
}

.add-timeline-button {
  width: 100%;
  height: 200px;
  border-radius: 10px;
  border: none;
  color: var(--UIlightgray);
  outline: 1px solid #4f4f4f;
  background-color: #000;
}

.add-timeline-button:hover {
  color: var(--UIlightgray);
  background-color: #111;
}

.timeline-button:hover {
  filter: contrast(0.5);
}

.add-timeline-icon {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #222;
  border-radius: 50%;
  padding: 2px;
  width: fit-content;
  height: fit-content;
}

.timeline-file-name {
  margin-top: 3px;
  font-size: 16px;
  font-weight: 500;
}

.timeline-edited {
  font-size: 12px;
  font-weight: 400;
  color: #808080;
}

.timeline-button {
  width: 100%;
  height: 200px;
  border-radius: 10px;
  border: none;
  outline: 1px solid #4f4f4f;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-image: url("/src/assets/images/timeline-temporary-button.png"); */
  /* background-image: url("https://picsum.photos/1280/720"); */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; /* Ensure the image doesn't repeat */

  transition: 0.2s;
}

.timeline-button-subbutton {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  padding: 3px;
  border-radius: 5px;

  background-color: #222;
  transition: 0.1s;
}

.trash-button:hover {
  background-color: #7e1313;
}

.settings-button:hover {
  background-color: #444;
}

.timeline-button-flex-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
