.main {
  background: linear-gradient(90deg, #111 0%, #000 50%, #111 100%);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 100svh;
}

.logo {
  width: 50px;
  height: 50px;
}

.label {
  font-size: var(--FontSizeSmall);
}

.input {
  background-color: var(--UIbackground);
  border-radius: 15px;
  width: 250px;
  height: 25px;
}

.blue-font {
  color: var(--UIcoolblue);
}

.submit-button {
  font-family: "Source Sans 3", sans-serif;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  background: none;
  width: 200px;
  padding: 10px;
  border-radius: 10px;
  border: var(--UIcoolblue) 2px solid;

  transition: 0.2s;
}

.submit-button:hover {
  background-color: var(--UIcoolblue);
}

.input-box {
  display: flex;
  flex-direction: column;
  width: 330px;
  margin-bottom: 10px;
}

input,
.button-google {
  font-family: "Source Sans 3", sans-serif;
  font-size: 16px;

  padding: 10px;
  position: relative;
  background: none;
  border-radius: 10px;
  border: solid 2px #808080;
  transition: 0.2s;
}

input:focus {
  border-radius: 10px;
}

.button-google {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
  cursor: pointer;
  width: 100%;
  margin: 5px 0;
}

.divider {
  margin-top: 20px;
  color: #808080;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.divider-line {
  border-radius: 2px;
  width: 100%;
  height: 2px;
  background-color: #808080;
}

p {
  margin-top: 10px;
  margin-bottom: 0;
}
